.thongtin{

   font-family: 'Segoe UI';
   text-align: center;
}
.h1{
text-align: center;

}
.nav-link cm{
 text-align: center;
}
.phanhoi{
   text-align: center;
}
.h2{
   text-align: center;
   
   }
